<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-google" data-id="group-a"><span>{{ i18n "search.common" }}</span></label>
                        <label for="type-google" data-id="group-b"><span>{{ i18n "search.search" }}</span></label>
                        <label for="type-whois" data-id="group-c"><span>{{ i18n "search.tools" }}</span></label>
                        <label for="type-zhihu" data-id="group-d"><span>{{ i18n "search.community" }}</span></label>
                        <label for="type-taobao1" data-id="group-e"><span>{{ i18n "search.lifestyle" }}</span></label>
                        <label for="type-zhaopin" data-id="group-f"><span>{{ i18n "search.jobs" }}</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.baidu.com?s=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="{{ i18n "search.search_placeholder" }}" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type"  checked="checked"
                            id="type-google"
                            value="https://www.google.com/search?q=" 
                            data-placeholder="{{ i18n "search_types.google_placeholder" }}">
                            <label for="type-google"><span class="text-muted">{{ i18n "search_types.google" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-bing"
                            value="https://www.bing.com/search?q=" 
                            data-placeholder="{{ i18n "search_types.bing_placeholder" }}">
                            <label for="type-bing"><span class="text-muted">{{ i18n "search_types.bing" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-duck"
                            value="https://duckduckgo.com/?va=d&t=hd&ia=web&q=" 
                            data-placeholder="{{ i18n "search_types.duckduckgo_placeholder" }}">
                            <label for="type-duck"><span class="text-muted">{{ i18n "search_types.duckduckgo" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-anaconda" 
                            value="https://anaconda.org/search?q=" data-placeholder="{{ i18n "search_types.conda_placeholder" }}">
                            <label for="type-anaconda"><span class="text-muted">{{ i18n "search_types.conda" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-pubmed"
                            value="https://library.ucr.edu/one_search?q=" 
                            data-placeholder="{{ i18n "search_types.ucr_scholar_placeholder" }}">
                            <label for="type-pubmed"><span class="text-muted">{{ i18n "search_types.ucr_scholar" }}</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                            id="type-baidu1"
                            value="https://www.baidu.com/s?wd=" 
                            data-placeholder="{{ i18n "search_types.baidu_placeholder" }}">
                            <label for="type-baidu1"><span class="text-muted">{{ i18n "search_types.baidu" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-google1"
                            value="https://www.google.com/search?q=" 
                            data-placeholder="{{ i18n "search_types.google_placeholder" }}">
                            <label for="type-google1"><span class="text-muted">{{ i18n "search_types.google" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-360"
                            value="https://www.so.com/s?q=" 
                            data-placeholder="{{ i18n "search_types.so360_placeholder" }}">
                            <label for="type-360"><span class="text-muted">{{ i18n "search_types.so360" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-sogo"
                            value="https://www.sogou.com/web?query=" 
                            data-placeholder="{{ i18n "search_types.sogou_placeholder" }}"> 
                            <label for="type-sogo"><span class="text-muted">{{ i18n "search_types.sogou" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-bing1"
                            value="https://www.bing.com/search?q=" 
                            data-placeholder="{{ i18n "search_types.bing_placeholder" }}">
                            <label for="type-bing1"><span class="text-muted">{{ i18n "search_types.bing" }}</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                            id="type-br"
                            value="https://rank.chinaz.com/all/"
                            data-placeholder="{{ i18n "tools.weight_check_placeholder" }}">
                            <label for="type-br"><span class="text-muted">{{ i18n "tools.weight_check" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-links"
                            value="https://link.chinaz.com/" 
                            data-placeholder="{{ i18n "tools.friend_link_check_placeholder" }}">
                            <label for="type-links"><span class="text-muted">{{ i18n "tools.friend_link_check" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-whois"
                            value="https://who.is/whois/" 
                            data-placeholder="{{ i18n "tools.domain_info_check_placeholder" }}">
                            <label for="type-whois"><span class="text-muted">{{ i18n "tools.domain_info_check" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-ping"
                            value="https://ping.chinaz.com/"
                            data-placeholder="{{ i18n "tools.ping_check_placeholder" }}">
                            <label for="type-ping"><span class="text-muted">{{ i18n "tools.ping_check" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-404"
                            value="https://tool.chinaz.com/Links/?DAddress="
                            data-placeholder="{{ i18n "tools.dead_link_check_placeholder" }}">
                            <label for="type-404"><span class="text-muted">{{ i18n "tools.dead_link_check" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-ciku"
                            value="https://www.ciku5.com/s?wd=" 
                            data-placeholder="{{ i18n "tools.keyword_mining_placeholder" }}">
                            <label for="type-ciku"><span class="text-muted">{{ i18n "tools.keyword_mining" }}</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-d">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                            id="type-zhihu" 
                            value="https://www.zhihu.com/search?type=content&q=" 
                            data-placeholder="{{ i18n "search_types.zhihu_placeholder" }}">
                            <label for="type-zhihu"><span class="text-muted">{{ i18n "search_types.zhihu" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-wechat" 
                            value ="https://weixin.sogou.com/weixin?type=2&query=" 
                            data-placeholder="{{ i18n "search_types.wechat_placeholder" }}">
                            <label for="type-wechat"><span class="text-muted">{{ i18n "search_types.wechat" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-weibo" 
                            value="https://s.weibo.com/weibo/" 
                            data-placeholder="{{ i18n "search_types.weibo_placeholder" }}">
                            <label for="type-weibo"><span class="text-muted">{{ i18n "search_types.weibo" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-douban" 
                            value="https://www.douban.com/search?q=" 
                            data-placeholder="{{ i18n "search_types.douban_placeholder" }}">
                            <label for="type-douban"><span class="text-muted">{{ i18n "search_types.douban" }}</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-e">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                            id="type-taobao1" 
                            value="https://s.taobao.com/search?q=" 
                            data-placeholder="{{ i18n "search_types.taobao_placeholder" }}">
                            <label for="type-taobao1"><span class="text-muted">{{ i18n "search_types.taobao" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-jd" 
                            value="https://search.jd.com/Search?keyword=" 
                            data-placeholder="{{ i18n "search_types.jd_placeholder" }}">
                            <label for="type-jd"><span class="text-muted">{{ i18n "search_types.jd" }}</span></label> 
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-xiachufang" 
                            value="https://www.xiachufang.com/search/?keyword=" 
                            data-placeholder="{{ i18n "search_types.xiachufang_placeholder" }}">
                            <label for="type-xiachufang"><span class="text-muted">{{ i18n "search_types.xiachufang" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-xiangha" 
                            value="https://www.xiangha.com/so/?q=caipu&s=" 
                            data-placeholder="{{ i18n "search_types.xiangha_placeholder" }}">
                            <label for="type-xiangha"><span class="text-muted">{{ i18n "search_types.xiangha" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-12306" 
                            value="https://www.12306.cn/?" 
                            data-placeholder="{{ i18n "search_types.train12306_placeholder" }}">
                            <label for="type-12306"><span class="text-muted">{{ i18n "search_types.train12306" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-qunar" 
                            value="https://www.qunar.com/?" 
                            data-placeholder="{{ i18n "search_types.qunar_placeholder" }}">
                            <label for="type-qunar"><span class="text-muted">{{ i18n "search_types.qunar" }}</span></label>
                        </li>
                    </ul>
                </div>
                <div class="search-group group-f">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                            id="type-zhaopin" 
                            value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" 
                            data-placeholder="{{ i18n "search_types.zhaopin_placeholder" }}">
                            <label for="zhaopin"><span class="text-muted">{{ i18n "search_types.zhaopin" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-51job" 
                            value="https://search.51job.com/?" 
                            data-placeholder="{{ i18n "search_types.job51_placeholder" }}">
                            <label for="type-51job"><span class="text-muted">{{ i18n "search_types.job51" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-lagou" 
                            value="https://www.lagou.com/jobs/list_" 
                            data-placeholder="{{ i18n "search_types.lagou_placeholder" }}">
                            <label for="type-lagou"><span class="text-muted">{{ i18n "search_types.lagou" }}</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                            id="type-liepin" 
                            value="https://www.liepin.com/zhaopin/?key=" 
                            data-placeholder="{{ i18n "search_types.liepin_placeholder" }}">
                            <label for="type-liepin"><span class="text-muted">{{ i18n "search_types.liepin" }}</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
    <!--div class="bulletin-big mx-3 mx-md-0">
        <div id="bulletin_box" class="card my-2">
            <div class="card-body py-1 px-2 px-md-3 d-flex flex-fill text-xs text-muted">
                <div><i class="iconfont icon-bulletin" style="line-height:25px"></i></div>
                <div class="bulletin mx-1 mx-md-2 carousel-vertical">
                    <div class="carousel slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"><a class="overflowClip_1"
                                    href="#">{{ i18n "bulletin_1" }}</a></div>
                            <div class="carousel-item "><a class="overflowClip_1"
                                    href="#">{{ i18n "bulletin_2" }}</a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill"></div>
                <a title="关闭" href="javascript:;" rel="external nofollow" class="bulletin-close"
                    onclick="$('#bulletin_box').slideUp('slow');"><i class="iconfont icon-close"
                        style="line-height:25px"></i></a>
            </div>
        </div>
    </div-->
</div>
